@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --font-display: var(--font-display);
  --font-poppin: var(--font-poppin);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppin), Arial, Helvetica, sans-serif;
}

/* Markdown styles */
.prose pre {
  background-color: #f5f5f5;
  color: #002909;
  padding: 0.75rem;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  overflow-x: auto;
}

.prose code {
  background-color: #f5f5f5;
  padding: 0.2rem 0.4rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
}

.prose pre code {
  background: transparent;
  padding: 0;
}